<!DOCTYPE html>
<html lang="en">
<head>
  <title>About- Joe's Movie Monster Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background-color: #8c200f;
	  color: white;
    }
    
    footer {
      background-color: #d9d5d4;
      padding: 25px;
    }
   
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/play">Play the Quiz</a></li>
		<li><a href="/support">Support</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	
  
<div class="container text-center">    
  <h3>About</h3><br>
  <div class="row">
  <div class="well">
       <p>For over a century, monsters of all kinds have graced our screens - some loveable, some disgusting, some downright terrifying. Here, you can test your knowledge on all different types of monsters. Whether it's horror, animation, or classic cinema icons, there's something here for everyone.
		</p>
      </div>
	  
	 <h3>What's coming soon?</h3>
      <div class="well">
       <p>Look out for new features, coming soon! </p>
	   <br> - Leaderboard: Compete with your friends for the highest score!
	   <br> - More categories. Switch up the questions and cover all areas in one.
      </div>
    </div>
  </div>
	  
	<div class="container text-center">     
	
  
    <div class="col-sm-4"> 
      
      <p>
	  <br><br>
	  </p>    
    </div>
 
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>All rights reserved. This quiz was developed as a student project for
  Edinburgh Napier University.</p>
</footer>

</body>
</html>