<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home - Joe's Movie Monster Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background-color: #8c200f;
	  color: white;
    }
    
    footer {
      background-color: #d9d5d4;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* This will hide text when the screen size is smaller - for mobile etc*/
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/play">Play the Quiz</a></li>
		<li><a href="/support">Support</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
		<img src="{{url_for('static', filename='monsters2.jpg')}}" alt="Universal Monsters"/>
        <div class="carousel-caption">
          <h3>Support page</h3>
          <p>Get in touch if you have any problems</p>
        </div>      
      </div>

      <div class="item">
        <img src="{{url_for('static', filename='gremlins.jpg')}}" alt="Gizmo"/>
        <div class="carousel-caption">
          <h3>Can you beat the quiz?</h3>
          <p>The questions get harder as it goes on!</p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  
<div class="container text-center">    
  <h3>Welcome to the Movie Monsters quiz!</h3><br>
  <div class="row">
  <div class="well">
       <p>Do you like monster movies? Do you like quizzes? Then this is the 
	   game for you! Test your knowledge of all fictional things slimy, scaly and furry in this quiz.
		</p>
      </div>
	  
	 <h3>How does it work?</h3>
      <div class="well">
       <p>This quiz allows fans of all sorts of monster movies to test their knowledge. Pick your speciality, and good luck! </p>
      </div>
    </div>
  </div>
	  
	<div class="container text-center">     
	
  
    <div class="col-sm-4"> 
      
      <p>
	  <br><br>
	  </p>    
    </div>
 
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>All rights reserved. This quiz was developed as a student project for
  Edinburgh Napier University.</p>
</footer>

</body>
</html>