<!DOCTYPE html>
<html lang="en">
<head>
  <title>Joe's Movie Monster Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background-color: #8c200f;
	  color: white;
    }
    
    footer {
      background-color: #d9d5d4;
      padding: 25px;
    }
 
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		<li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/play">Play the Quiz</a></li>
		<li><a href="/support">Support</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    </div>
  </div>
</nav>


  
<div class="container text-center">    
  <h3>Horror Monsters - Question 4</h3><br>
  <div class="row">
  <div class="well">
       <p>Question 4: In the bizarre "Killer Klowns from Outer Space", the titular clowns kidnap humans using what confectionary?</p>
	   <img src="{{url_for('static', filename='klowns.jpg') }}" class="image" height="300px"/>
	   <br>
	   <button type="button" onclick="location.href='/gameover'">Cream Pies</button>
	   <button type="button" onclick="location.href='/HORRORQ5'">Candyfloss</button>
	   <button type="button" onclick="location.href='/gameover'">Popcorn</button>
      </div>
	 
	  <br>
	  </div>
<br>
</div><br>


<footer class="container-fluid text-center">
  <p>All rights reserved. This quiz was developed as a student project for
  Edinburgh Napier University.</p>
</footer>


</body>